@define-color background #1e222a;
@define-color foreground #adb1b9;
@define-color dark-light #272A2B;
@define-color active-light #313435;

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

* {
}

window#waybar {
  /* background: transparent; */
  /* background: @theme_base_color; */
  /* border-bottom: 1px solid @unfocused_borders; */
  color: @theme_text_color;
}
window#waybar.hidden {
}

window > box {
  margin: 0;
  padding: 0;
  /* background: rgba(43, 48, 59, 0.2); */
  min-height: 40px;
}

/* 
.modules-left,
.modules-center,
.modules-right {
  background: @theme_base_color;
  padding: 0px 8px 0px 8px;
}

.modules-left {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.modules-center {
  border-radius: 16px;
}
.modules-right {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
*/

#disk,
#temperature,
#clock,
#language,
#keyboard-state,
#mpd,
#submap,
#workspaces,
#tray,
#idle_inhibitor,
#network,
#bluetooth,
#pulseaudio,
#battery,
#custom-wireguard {
  padding: 0px 2px;
  margin: 0px 2px;

  /* border-radius: 10px; */
  /* background: @theme_base_color; */
}

#disk {
}

#temperature {
}
#temperature.critical {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  font-weight: bolder;
}

#language {
}

#keyboard-state {
}
#keyboard-state label {
}
#keyboard-state label.locked {
}

#mpd {
}
#mpd.disconnected {
}
#mpd.stopped {
}
#mpd.playing {
}
#mpd.paused {
}

#submap {
}

#workspaces button {
}
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}
#workspaces button.visible {
}
#workspaces button.focused,
#workspaces button.active {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}
#workspaces button.urgent {
}
#workspaces button.persistent {
}
#workspaces button.current_output {
}

#tray {
}
#tray menu {
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .active {
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}
#idle_inhibitor.activated {
  background: seagreen;
}
#idle_inhibitor.deactivated {
  background: teal;
}

#network {
}
#network.disabled {
}
#network.disconnected {
  background-color: red;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
  color: white;
  background-color: #26a65b;
}

#bluetooth {
}
#bluetooth.disabled {
}
#bluetooth.off {
}
#bluetooth.on {
}
#bluetooth.connected {
}
#bluetooth.discoverable {
}
#bluetooth.discovering {
}
#bluetooth.pairable {
}

#pulseaudio {
}
#pulseaudio.bluetooth {
}
#pulseaudio.muted {
}
#pulseaudio.source-muted {
}

#battery {
}
#battery.good {
}
#battery.warning {
  background: #f53c3c;
  color: white;
}
#battery.critical {
}
#battery.full {
  color: white;
  background-color: #265ba6;
}
#battery.charging {
  color: white;
  background-color: #26a65b;
}
#battery.critical:not(.charging) {
  background: #f53c3c;
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-separator {
    margin: 0px 1px;
    color: @theme_text_color;
}
